html
    head
        title= 'InsertPoll Test LTI Launch'
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet' href='https://unpkg.com/tachyons/css/tachyons.min.css')
    body(class="pa2 sans-serif")
    h1 InsertPoll Test LTI Launch
    p This page lets you test how insertpoll responds to various LTI launch parameters. Defaults have been provided. You can experiment with launching as an instructor or a learner.
    h2 Disable in production
    p This page should be disabled in production. Change #[code(class="bg-washed-blue") "enableLtiTesting"] to false in your #[code(class="bg-washed-blue") local-production.json] file.
    // register form
    form(method='POST' action= launchUrl)
        fieldset
            legend Poll Information
            div(class="fl w-100 pa2")
                label(for='pollId' class="fl w-third") Poll Id, or leave blank to create new poll
                input#pollId(type='text' class="fl two-thirds" placeholder='Poll ID' name='pollId')
        fieldset
            legend User LTI Information
            div(class="fl w-100 pa2")
                label(for='roles' class="fl w-third") Instructor / Learner
                select(name='roles' class="fl two-thirds")
                    option Instructor
                    option Learner
            div(class="fl w-100 pa2")
                label(for='custom_canvas_user_id' class="fl w-third") custom_canvas_user_id
                input#custom_canvas_user_id(type='text' placeholder='' value="1999" class="fl two-thirds" name='custom_canvas_user_id')

            div(class="fl w-100 pa2")
                label(for='lis_person_name_full' class="fl w-third") lis_person_name_full
                input#lis_person_name_full(type='text' placeholder='' value="Riley Wilks" class="fl two-thirds" name='lis_person_name_full')

        fieldset
            legend Context LTI Information
            div(class="fl w-100 pa2")
                label(for='custom_canvas_course_id' class="fl w-third") custom_canvas_course_id
                input#custom_canvas_course_id(type='text' class="fl two-thirds" placeholder='' value="16098" name='custom_canvas_course_id')

            div(class="fl w-100 pa2")
                label(for='context_title' class="fl w-third") context_title
                input#context_title(type='text' class="fl two-thirds" placeholder='' value="My Course Title" name='context_title')


            div(class="fl w-100 pa2")
                label(for='ext_content_return_url' class="fl w-third light-gray") ext_content_return_url
                input#ext_content_return_url(type='text' class="fl two-thirds" placeholder='' disabled='true' value="" name='ext_content_return_url')
        div(class='pa2')
            button.btn.btn-primary(type='submit' class='pa2') Launch